# Format: #/name defines a new extras_require group called name
# Uncommented lines after the group definition insert things into that group.

#/firebase
firebase_admin

#/ai
# whatever...
# google-cloud-bigquery
# wandb
# db-dtypes
# sentence-transformers
# nltk
# flair
# openai

#/observability
sentry-sdk[fastapi]

#/pinecone
pinecone-client

#/supabase
supabase

#/postgres
psycopg[binary,pool]
pgvector

#/minimal
# TODO: shouldn't have anything, need to deprecate this slowly
supabase
