# app.supabase.com
NEXT_PUBLIC_SUPABASE_PROJECT_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# only in prod
# NEXT_PUBLIC_SITE_URL=

NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL=
NEXT_PUBLIC_SITE_URL=
# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=
# https://app.embedbase.xyz
EMBEDBASE_API_KEY=
# this is for uploading github repos using the api
GITHUB_TOKEN=
NEXT_PUBLIC_ENVIRONMENT=development
